{% extends "index.html" %}

{% block title %}Gerenciar Alunos{% endblock %}
{% block content %}
<div class="container">
    <p class="h1 text-center">Gerenciar Alunos</p>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 text-center">Adicionar Alunos</p>
            <form action="{{ url_for('alunos') }}" method="POST">
        <div class="mb-3">
            <label class="form-label" for="nome_completo">Nome Completo:</label>
            <input class="form-control" type="text" id="nome_completo" name="nome_completo" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="apelido">Apelido:</label>
            <input class="form-control" type="text" id="apelido" name="apelido" required>
        </div>
        <div>
            <label class="form-label" for="matricula">Matrícula:</label>
            <input class="form-control" type="text" id="matricula" name="matricula" required>
        </div>
        <div>
            <label class="form-label" for="celular">Celular:</label>
            <input class="form-control" type="text" id="celular" name="celular" required>
        </div>
        <div>
            <label class="form-label" for="email">Email:</label>
            <input class="form-control" type="email" id="email" name="email" required>
        </div>
                <div class="d-grid">
                    <button class="btn btn-primary mt-3 mx-auto" type="submit">Adicionar Aluno</button>
                </div>

    </form>
        </div>
        <div class="col">
        <p class="h3 text-center">
            Lista de Alunos
        </p>
            <ul class="list-group">
                {% for aluno in alunos %}
                <li class="list-group-item">{{ aluno.nome_completo }} - {{ aluno.matricula }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>



</div>


</div>
{% endblock %}