<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li class="{{ 'active' if active_page == 'livros' else '' }}"><a href="{{ url_for('livros') }}">Gerenciar Livros</a></li>
                <li class="{{ 'active' if active_page == 'alunos' else '' }}"><a href="{{ url_for('alunos') }}">Gerenciar Alunos</a></li>
                <li class="{{ 'active' if active_page == 'bibliotecarios' else '' }}"><a href="{{ url_for('bibliotecarios') }}">Gerenciar Bibliotecários</a></li>
                <li class="{{ 'active' if active_page == 'emprestimos' else '' }}"><a href="{{ url_for('emprestimos') }}">Gerenciar Empréstimos</a></li>
                <li class="{{ 'active' if active_page == 'lista_alunos' else '' }}"><a href="{{ url_for('lista_alunos') }}">Lista de Alunos</a></li>
                <li class="{{ 'active' if active_page == 'lista_emprestimos' else '' }}"><a href="{{ url_for('lista_emprestimos') }}">Lista de Empréstimos</a></li>
                <li class="{{ 'active' if active_page == 'solicitacoes' else '' }}"><a href="{{ url_for('solicitacoes') }}">Solicitações</a></li>
                <li class="{{ 'active' if active_page == 'biblioteca' else '' }}"><a href="{{ url_for('biblioteca') }}">Biblioteca</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

