<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Biblioteca Distribuída</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Alunos
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('alunos') }}">Gerenciar Alunos</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('lista_alunos') }}">Lista de Alunos</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Biblioteca
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ url_for('livros') }}">Gerenciar Livros</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('bibliotecarios') }}">Gerenciar Bibliotecários</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('biblioteca') }}">Biblioteca</a></li>
                  </ul>
                </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Empréstimos
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('emprestimos') }}">Gerenciar Empréstimos</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('lista_emprestimos') }}">Lista de Empréstimos</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('solicitacoes') }}">Solicitações</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>



