{% extends "index.html" %}

{% block title %}Lista de Empréstimos{% endblock %}
{% block content %}
<div class="container">
    <h1>Lista de Empréstimos</h1>
    <ul>
        {% for emprestimo in emprestimos %}
        <li>
            {{ emprestimo.livro.titulo }} - {{ emprestimo.aluno.nome_completo }} -
            Data de Devolução:
            {% if emprestimo.data_entrega %}
                {{ emprestimo.data_entrega.strftime('%d/%m/%Y às %H:%M') }}
            {% else %}
                Em andamento
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


