{% extends "index.html" %}

{% block title %}Solicitações de Empréstimo{% endblock %}
{% block content %}
<div class="container">
    <p class="h1 text-center">Empréstimos em Andamento</p>
    <ul class="list-group">
        {% for emprestimo in emprestimos %}
        <li class="list-group-item">{{ emprestimo.livro.titulo }} - {{ emprestimo.aluno.nome_completo }}
            <form action="{{ url_for('devolucao', id=emprestimo.id) }}" method="POST" style="display:inline;">
                <button class="btn btn-secondary" type="submit">Registrar Devolução</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

