{% extends "index.html" %}

{% block title %}Solicitações de Empréstimo{% endblock %}
{% block content %}
<div class="container">
    <h1>Solicitações de Empréstimo</h1>
    <ul>
        {% for emprestimo in emprestimos %}
        <li>{{ emprestimo.livro.titulo }} - {{ emprestimo.aluno.nome_completo }}
            <form action="{{ url_for('devolucao', id=emprestimo.id) }}" method="POST" style="display:inline;">
                <button type="submit">Registrar Devolução</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

